<section class="intro">
  <div class='intro-container'>

    <img class='introImage' src='images/introImage-light.png'>

    <div class="intro-content">

      <div class="intro-welcome">
        <h1 class='name'>Ahmed Azeez</h1>
      </div>

      <div class="intro-sub">
        <p>PhD in Public Health with a passion for data analysis and infectious disease epidemiology. I love digging into the numbers, asking the questions that matter, and making complex public health insights accessible to everyone.</p>
      </div>

     

      <div class='intro-social'>

      </div>

    </div>

  </div>
</section>
